footer{
    grid-area: footer;
    background-color: $colorprincipal;


        #redsocial{
            @include flexbox(row, nowrap, space-around, center);


            img{
                height: 35px;
                width: 35px;
                border-radius: 3px solid;
                margin-top: 15px;
            }
            }

            #terminos1{
                @include flexbox(row, nowrap, space-around, center);
                margin-top: 10px;
            }
            a{
                color: white;
                text-decoration: none;
                list-style-type: none;
            }

        .inline{
            text-align: center;
            color: white;
            margin: 20px 0px;
            }

            @include media-up(sm){
                background-color: $colorprincipal;
                grid-area: footer;
                #redsocial{
                    @include flexbox(row, nowrap, space-evenly, center);
                }

                #terminos1{
                @include flexbox(row, wrap, space-around, center);
                margin-top: 10px;
                }
            }
}