header{
    background-color: $colorprincipal;
    grid-area: header;
    @include flexbox(row, nowrap, flex-start, start);

    #logo{
        background-color: $colorprincipal;
        flex-grow: 1;

        #navheader{
            background-color: $colorprincipal;
            flex-grow: 0;
        }
    }

    #menu #envio{
        @include flexbox(row, nowrap, space-around, start);

        .casilla{
            @include contenedor(none, white, 2px, 4px 60px 4px 0px, 2px solid black, 5px);
      
        }
    }

    

    label{
        @include contenedor(none, #999999, 2px, 4px, 2px solid black, 5px);

    }
    .registrar{
        @include contenedor(none, #E8CA4D, 2px, 4px, 2px solid black, 5px);
        text-decoration: none;
        color: black;

    }

    #menudenav{
        background-color: $colorprincipal;
        color: white;
        flex-grow: 1;
    }

    #menudenav1{
        @include flexbox(row, nowrap, space-evenly, flex-start);
        margin-top: 35px;

        li{
            list-style-type: none;
            text-decoration: none;

            a{
                color: white;
                list-style-type: none;
                text-decoration: none;
            }
        }
    
    }


    @include media-up(s){
        @include flexbox(column, wrap, space-evenly, center);
        
        #menu #envio{
            @include flexbox(row, wrap, space-between, center);
    
            .casilla{
                @include contenedor(none, white, 1px, 1.5px 4px 1.5px 0px, 1px solid black, 5px);
                margin-right: 25px;
                

                label{
                    @include contenedor(none, #999999, 1px, 1.5px, 1px solid black, 1.5px);

                    .registrar{
                        background-color: #E8CA4D;
                        margin-left: 10px;
                    }            
                }
                
            }
        }

        #menudenav1{
            @include flexbox(row, wrap, space-between, center);
            margin-left: 7px;
            margin-right: 40px;
            margin-top: 35px;        
        }
    }


    @include media-up(sm){
        @include flexbox(column, wrap, space-evenly, center);
        
        #menu #envio{
            @include flexbox(row, wrap, space-evenly, start);
    
            .casilla{
                @include contenedor(none, white, 2px, 3px 15px 3px 0px, 2px solid black, 5px);
                

                label{
                    @include contenedor(none, #999999, 2px, 3px, 2px solid black, 3px);
            
                }
                
            }
        }

        #menudenav1{
            @include flexbox(row, nowrap, space-evenly, flex-start);
            margin-top: 35px;
    
            li{
                list-style-type: none;
                text-decoration: none;
    
                a{
                    color: white;
                    list-style-type: none;
                    text-decoration: none;
                }
            }
        
        }
    }





    @include media-up(lg){
        background-color: $colorprincipal;
        grid-area: header;
        @include flexbox(column, wrap, flex-start, center);
        #menu #envio{
        @include flexbox(row, nowrap, space-around, start);

        .casilla{
            @include contenedor(none, white, 2px, 4px 60px 4px 0px, 2px solid black, 5px);
            
            
        }
    }
    }


    @include media-up(xl){
        background-color: $colorprincipal;
        grid-area: header;
        @include flexbox(row, nowrap, flex-start, start);;
        }
    
}