#body{
    height: 100vh;
    display: grid;
    grid-template-rows: 0.3fr 1fr 0.5fr;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "header header header"
    "mainproduc mainproduc mainproduc"
    "footer footer footer"
    ;
    
}

#mainproduc{
    background-color: white;
    grid-area: mainproduc;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "navP sectionnavP1 sectionnavP1"
    "sectionnavP sectionnavP sectionnavP"
    "sectionnavP sectionnavP sectionnavP";    
    grid-column-gap: 5px;

    #navP{
        background-color: $colorsecundario;
        grid-area: navP;
        text-align: center;
    }
    
    div{
        color: white;
        font-size: 2rem;
        text-align: center;
        text-decoration: none;
        list-style-type: none;
    }

    li{
        list-style-type: none;
        margin-top: 8px;
        
    }

    a{
        color: black;
        font-size: 1rem;
        text-decoration: none;
        list-style-type: none;
    }


    #sectionnavP{
        background-color: $colorsecundario;
        grid-area: sectionnavP;
    }

    #producto2{
        @include flexbox(row, wrap, space-around, stretch);

        .card1{
            width: 10rem; 
            margin-top: 5px; 
            margin-bottom: 5px; 
            background-color: #22242B; 
            color: white;
            border: 4px solid $colordefotos;
            border-radius: 5px;
            
        }

        .card4{
            height: 140px;
            width: 150px;
            
        }
        .card2{
            background-color: #999999;
            padding: 3px;
            border-radius: 5px;
        }
    }

    #sectionnavP1{
        background-color: $colorprincipal;
        grid-area: sectionnavP1;
        text-align: center;
    }
    #producto{
        margin-top: 40px;

        .video{
            height: 300px;
            width: 500px;
        }
    }



    @include media-up(sm){
        #producto2{
            @include flexbox(row, wrap, space-around, stretch);
    
            .card1{
                width: 10rem; 
                margin-top: 5px; 
                margin-bottom: 5px; 
                background-color: #22242B; 
                color: white;
                border: 4px solid $colordefotos;
                border-radius: 5px;
            }
    
            .card4{
                height: 140px;
                width: 150px;
            }
            .card2{
                background-color: #999999;
                padding: 3px;
                border-radius: 5px;
            }
            
        }
    
        #sectionnavP1{
            background-color: $colorprincipal;
            grid-area: sectionnavP1;
            text-align: center;
        }
        #producto{
            margin-top: 40px;
    
            .video{
                height: 200px;
                width: 300px;
            }
        }

    }
}