#body{
    height: 100vh;
    display: grid;
    grid-template-rows: 0.3fr 1fr 0.5fr;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "header header header"
    "mainproduc mainproduc mainproduc"
    "footer footer footer"
    ;
    
}

#mainproduc{
    height: 100%;
    background-color: white;
    grid-area: mainproduc;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "navP sectionnavP1 sectionnavP1"
    "sectionnavP sectionnavP sectionnavP"
    "sectionnavP sectionnavP sectionnavP";    
    grid-column-gap: 5px;

    #navP{
        background-color: $colorsecundario;
        grid-area: navP;
        text-align: center;
    }
    
    div{
        color: white;
        font-size: 2rem;
        text-align: center;
        text-decoration: none;
        list-style-type: none;
    }


    p{
        font-size: 1rem;
        text-align: center;
        margin-top: 30px;
        
    }

    li{
        list-style-type: none;
        margin-top: 8px;
        
    }

    a{
        color: black;
        font-size: 1rem;
        text-decoration: none;
        list-style-type: none;
    }


    #sectionnavP{
        background-color: $colorsecundario;
        grid-area: sectionnavP;
    }

    #producto2{
        grid-area: producto2;
        @include flexbox(row, wrap, space-between, stretch);
        p{
            flex-grow: 1;
            width: 10.5rem;
            text-align: justify;
            display: block;
        }

        .card1{
            width: 12rem; 
            margin-top: 5px; 
            margin-bottom: 5px; 
            background-color: #22242B; 
            color: white;
            border: 4px solid $colordefotos;
            border-radius: 5px;
            
        }

        .card4{
            flex-grow: 1;
            height: 165px;
            width: 182px;
            border-radius: 7px solid;
            
        }

        .card2{
            flex-grow: 1;
            background-color: $colordefotos;
            text-align: center;
            padding: 3px;
            border-radius: 5px;
        }
    }

    #sectionnavP1{
        background-color: $colorprincipal;
        grid-area: sectionnavP1;
        text-align: center;
    }
    #producto{
        margin-top: 40px;

        .video{
            height: 300px;
            width: 500px;
        }
    }
}


    @include media-up(s){
        #mainproduc{
            height: 100%;
            display: grid;
            grid-template-rows: 0.2fr 0.2fr 2.8fr;
            grid-template-columns: 1fr;
            grid-template-areas: 
            "navP"
            "sectionnavP1"
            "sectionnavP";
            grid-row-gap: 5px;
            }    
 
            #navP{
                background-color: $colorsecundario;
                grid-area: navP;
                text-align: center;
            }

            #sectionnavP{
                background-color: $colorsecundario;
                grid-area: sectionnavP;
                height: 100%;
                .card1{
                    width: 10rem; 
                    margin-top: 5px; 
                    margin-bottom: 5px; 
                    background-color: #22242B; 
                    color: white;
                    border: 4px solid $colordefotos;
                    border-radius: 5px;    
                }
    
            .card4{
                height: 120px;
                width: 130px;
            }
            .card2{
                background-color: #999999;
                padding: 3px;
                border-radius: 5px;
            }
        }
           
        #sectionnavP1{
            background-color: $colorprincipal;
            grid-area: sectionnavP1;
            text-align: center;

        #producto{
            margin-top: 20px;
    
            .video{
                height: 180px;
                width: 300px;
                margin-right: 10px;
            }
        }
      }

  }


       


    @include media-up(sm){
        #mainproduc{
            background-color: white;
            grid-area: mainproduc;
            display: grid;
            grid-template-rows: 0.6fr 0.6fr 1fr;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-areas: 
            "navP sectionnavP1 sectionnavP1"
            "sectionnavP sectionnavP sectionnavP"
            "sectionnavP sectionnavP sectionnavP";    
            grid-column-gap: 5px;}
        
        #producto2{
            @include flexbox(row, wrap, space-around, stretch);
    
            .card1{
                width: 10rem; 
                margin-top: 5px; 
                margin-bottom: 5px; 
                background-color: #22242B; 
                color: white;
                border: 4px solid $colordefotos;
                border-radius: 5px;
            }
    
            .card4{
                height: 140px;
                width: 150px;
            }
            .card2{
                background-color: #999999;
                padding: 3px;
                border-radius: 5px;
            }
            
        }
    
        #sectionnavP1{
            background-color: $colorprincipal;
            grid-area: sectionnavP1;
            text-align: center;
        
        #producto{
            margin-top: 40px;
    
            .video{
                height: 200px;
                width: 300px;
            }
        }
      }
    }

