#bodyate{
    height: 100vh;
    display: grid;
    grid-template-rows: 0.3fr 1fr 0.5fr;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "header header header"
    "atencion atencion atencion"
    "footer footer footer"
    ;
}


#atencion{
    background-color: $colorsecundario;
    grid-area: atencion;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 0.3fr 0.5fr 1fr;
    grid-template-areas: 
    "ATE ATE1 ATE2"
    "ATE ATE1 ATE2";
    }

    #ATE{
        grid-area: ATE;
        color: white;
        list-style-type: none;
        text-align: center;
    }


    #ATE1{
    grid-area: ATE1;
    
    .ate label{
        color: white;
        display: block;
        font-size: 18px;
        font-weight: bold;

    }
    input{
        padding: 0px 25px 5px 0px;
    }

    .ate1 label{
        color: white;
        display: block;
        margin-top: 10px;
        font-size: 18px;
        font-weight: bold;
    }

    .ate2{
        color: white;
        display: block;
        margin-top: 10px;
        font-size: 18px;
        font-weight: bold;
        margin-top: 10px;

        label{
            margin-top: 10px;
        }
    }

    .enviartext{
        background-color: #E8CA4D;
        font-size: 1rem;
        border: 2px solid black;
        border-radius: 7px;

    }

    #mensaje{
        padding: 0px 60px 80px 0px;
        margin-bottom: 5px;
    }

    
}

#ATE2{
    grid-area: ATE2;
    text-align: right;
}
.ate3{
    height: 550px;
    width: 700px;
}


@include media-up(sm){
    #atencion{
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
        "ATE ATE1 ATE1"
        "ATE2 ATE2 ATE2";
    }
    #ATE2{
        text-align: center;
    }
    .ate3{
        height: 350px;
        width: 500px;
    }    
    }

    @include media-up(l){
        #atencion{
            display: grid;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-areas: 
            "ATE ATE1 ATE2"
            "ATE ATE1 ATE2";
        }
        #ATE2{
            text-align: right;
        }
        .ate3{
            height: 500px;
            width: 575px;
        }    
}
  
